PORT=4000
DB_NAME=khmenu
DB_USER=root
DB_PASS=

CACHE_SERVER=khmenu-redis
JWT_SECRET="1(&h85d~OR:A,-K`G1`{ssv["

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://khmenu.cloud:4000/auth/google-callback

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET_NAME=khmenu.cloud
API_VERSION=v1
API_HOST=36.37.134.139:4000

JWT_ACCESS_EXPIRE=2h
JWT_REFRESH_EXPIRE=1w
JWT_REFRESH_SECRET="1(&h85d~OR:A,-K`G1`{ssv"

EXPRESS_CONTAINER=khmenu-express
CACHE_TTL=30
CACHE_EXPIRE=3